*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
local.properties
proguard/
*.log
.DS_Store
*~
.idea/
*.iml
*.iws
R.java
Diyidan/ant.properties
Diyidan/build.xml
Diyidan/diyidan.keystore
Diyidan/proguard_logs
Diyidan/deploy.sh
release/
freeline*
freeline/
.gradle-build/

#Python
.coverage
coverage.xml
nosetests.xml
dist/
logs/
.ropeproject
.Python
bin/
include/
lib/
*.pyc

#Java

# Created by .ignore support plugin (hsz.mobi)
.gitignore

# Operating System Files 

*.DS_Store 
Thumbs.db 
*.sw? 
.#* 
*# 
*~ 
*.sublime-* 

# Build Artifacts 

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml 

# Eclipse Project Files 

.classpath
.project
.settings/ 

# IntelliJ IDEA Files 

*.iml
*.ipr 
*.iws 
*.idea 