*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
local.properties
proguard/
*.log
.DS_Store
*~
.idea/
*.iml
*.iws
R.java
Diyidan/ant.properties
Diyidan/build.xml
Diyidan/diyidan.keystore
Diyidan/proguard_logs
Diyidan/deploy.sh
release/
freeline*
freeline/
.gradle-build/
