<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--&lt;!&ndash; 提供方应用信息，用于计算依赖关系 &ndash;&gt;-->
    <dubbo:application name="${dubbo.application.name}"  />

    <!--&lt;!&ndash; 使用multicast广播注册中心暴露服务地址 &ndash;&gt;-->
    <dubbo:registry protocol="${dubbo.protocol.name}" address="${dubbo.registry.address}" />

    <!--&lt;!&ndash; 消费方缺省配置，当ReferenceConfig某属性没有配置时，采用此缺省值，可选。&ndash;&gt;-->
    <!--<dubbo:consumer version="${dubbo.provider.version}" />-->

    <dubbo:annotation package="${dubbo.scan}"/>

    <!-- 认证方式 -->
    <dubbo:reference id="ucenterOauthService" interface="com.knight.ucenter.api.UcenterOauthService" mock="true"/>
    <!-- 用户认证 -->
    <dubbo:reference id="ucenterUserOauthService" interface="com.knight.ucenter.api.UcenterUserOauthService" mock="true"/>
    <!-- 用户操作日志 -->
    <dubbo:reference id="ucenterUserLogService" interface="com.knight.ucenter.api.UcenterUserLogService" mock="true"/>
    <!-- 用户 -->
    <dubbo:reference id="uenterUserService" interface="com.knight.ucenter.api.UcenterUserService" mock="true"/>
    <!-- 用户详情 -->
    <dubbo:reference id="ucenterUserDetailsService" interface="com.knight.ucenter.api.UcenterUserDetailsService" mock="true"/>
     <!--接口服务 -->
    <!--<dubbo:reference id="ucenterApiService" interface="com.knight.ucenter.api.UcenterApiService" mock="true"/>-->

</beans>